.footer {
  width: 100%;
  /* height: 500px; */
  background-image: url("../../assets/footer.png");
  /* background-color: #1f0231; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 1398px) {
  .footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}
